<?xml version="1.0" encoding="UTF-8"?>
<plist
    xmlns="http://www.opendicom.com/xsd/plist/devices.xsd"
    
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.opendicom.com/xsd/plist/devices.xsd ./devices.xsd"
    
    version="1.0"
    >
    <dict>
        <key>1.2</key>
        <dict>
            <key>preferredstudyidentificator</key>
            <string id="preferredstudyidentificator">AccessionNumber</string>
            <key>custodiantitle</key>
            <string id="custodiantitle">custodian</string>
            <key>custodianoid</key>
            <string id="custodianoid">1</string>
            <key>custodianglobaluri</key>
            <string id="custodianglobaluri">custodianURI</string>
            <key>sqlprolog</key>
            <string id="sqlprolog">sqlprolog</string>
            <key>sqlstringencoding</key>
            <string id="sqlstringencoding">5</string>
            <key>sqlobjectmodel</key>
            <string id="sqlobjectmodel">dal5mysql</string>
            <key>filesystemlocaluri</key>
            <string id="filesystemlocaluri">filesystembaseuri</string>
            <key>wadolocaluri</key>
            <string id="wadolocaluri">http://wadouri</string>
            <key>wadoadditionalparameters</key>
            <string id="wadoadditionalparameters">&amp;a=b</string>
            <key>qidolocaluri</key>
            <string id="qidolocaluri">http://qido</string>
            <key>wadorslocaluri</key>
            <string id="wadorslocaluri">https://wadors</string>
            <key>stowlocaluri</key>
            <string id="stowlocaluri">http://stow</string>
            <key>dicomaet</key>
            <string id="dicomaet">dicomaet</string>
            <key>dicomip</key>
            <string id="dicomip">1.1.1.1</string>
            <key>dicomport</key>
            <string id="dicomport">104</string>
            <key>c-find</key>
            <false/>
            <key>c-get</key>
            <false/>
            <key>c-move</key>
            <false/>
            <key>c-store</key>
            <false/>
        </dict>
    </dict>
</plist>
