<?xml version="1.0" encoding="UTF-8"?>
<plist
    xmlns="http://www.opendicom.com/xsd/plist/devices.xsd"
    
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.opendicom.com/xsd/plist/devices.xsd ./devices.xsd"
    
    version="1.0"
    >
    <dict>
        <key>1.2</key>
        <dict>
            <key>local</key>
            <false/>
            <key>preferredstudyidentificator</key>
            <string id="preferredstudyidentificator">AccessionNumber</string>
            <key>custodiantitle</key>
            <string id="custodiantitle">custodian</string>
            <key>custodianoid</key>
            <string id="custodianoid">1</string>
            <key>custodianbaseuri</key>
            <string id="custodianbaseuri">custodianURI</string>
            <key>sqlprolog</key>
            <string id="sqlprolog">sqlprolog</string>
            <key>sqlstringencoding</key>
            <string id="sqlstringencoding">5</string>
            <key>sqldictpath</key>
            <string id="sqldictpath">/Users/Shared/httpdicom/deploy/sql/dictionary/dcm4chee2147mysql.plist</string>
            <key>filesystembaseuri</key>
            <string id="filesystembaseuri">filesystembaseuri</string>
            <key>wadouri</key>
            <string id="wadouri">http://wadouri</string>
            <key>wadouriadditionalparameters</key>
            <string id="wadouriadditionalparameters">&amp;a=b</string>
            <key>qido</key>
            <string id="qido">http://qido</string>
            <key>wadors</key>
            <string id="wadors">https://wadors</string>
            <key>stow</key>
            <string id="stow">http://stow</string>
            <key>dicomaet</key>
            <string id="dicomaet">dicomaet</string>
            <key>dicomip</key>
            <string id="dicomip">1.1.1.1</string>
            <key>dicomport</key>
            <string id="dicomport">104</string>
        </dict>
    </dict>
</plist>
